<div id="corpo">
<form (ngSubmit)="submit()" [formGroup]="cadastroForm" #formDir="ngForm">
      <div id="principal">
      <div id="conteudo_top">
        <div id="conteudo_top_principal">
            <img src="./assets/Logo_roxo.png">
            <div id="inputs_texto">
                <h3>Cadastre sua conta</h3>
                <div id="inputs_column">
                    <div id="input_item">
                        <p>Nome</p>
                        <div id="input_frame">
                            <input type="text" placeholder="Insira um nome" formControlName="name" required/>
                            <img src="./assets/cadeado_icon.svg">
                        </div>
                        <div class="erroValidacao" *ngIf="getNameForm().invalid && formDir.submitted">Nome inválido</div>
                    </div>
                    <div id="input_item">
                      <p>Email</p>
                      <div id="input_frame">
                          <input type="text" placeholder="Endereço de email" formControlName="email" required/>
                          <img src="./assets/cadeado_icon.svg">
                      </div>
                      <div class="input_item" class="erroValidacao" *ngIf="getEmailForm().invalid && formDir.submitted">Email inválido</div>
                  </div>
                    <div id="input_item">
                        <p>Senha</p>
                        <div id="input_frame">
                            <input id="senha" type="password" placeholder="Crie uma senha" formControlName="senha" required />
                            <img src="./assets/cadeado_icon.svg">
                        </div>
                        <div class="erroValidacao" *ngIf="getPasswordForm().invalid && formDir.submitted">Senha inválida</div>
                    </div>
                    <div id="input_item">
                        <p>Confirmar senha</p>
                        <div id="input_frame">
                            <input id="confirmaSenha" type="password" placeholder="Confirme sua senha" formControlName="confirmaSenha" (change)="onChange($event)">
                            <img src="./assets/cadeado_icon.svg">
                        </div>
                        <div class="erroValidacao" *ngIf="senhasNaoConferem == true">As senhas não são iguais</div>

                    </div>
                    </div>

                </div>
            </div>
        </div>
        <div id="esqueceu_senha"><a href="./cadastro.html">Esqueci minha senha</a></div>

    <div id="botoes_login">
        <input type="submit" id="botao_cadastro" value="Cadastro">
        <div id="divisor_ou">
            <hr> <h5>OU</h5> <hr>
        </div>
        <button id="botao_login" (click)="navigateLogin()">
            <h4>Entre em uma conta existente</h4>
        </button>
    </div>

    </div>
</form>
</div>

