<div id="corpo">
  <div id="principal">
    <div id="conteudo_top">
      <div id="conteudo_top_principal">
          <img src="./assets/Logo_roxo.png">
          <div id="inputs_texto">
              <h3>Cadastre sua conta</h3>
              <div id="inputs_column">
                  <div id="input_item">
                      <p>Email</p>
                      <div id="input_frame">
                          <input type="text" placeholder="Endereço de email">
                          <img src="./assets/cadeado_icon.svg">
                      </div>
                  </div>
                  <div id="input_item">
                      <p>Senha</p>
                      <div id="input_frame">
                          <input type="text" placeholder="Crie uma senha">
                          <img src="./assets/cadeado_icon.svg">
                      </div>
                  </div>
                  <div id="input_item">
                      <p>Confirmar senha</p>
                      <div id="input_frame">
                          <input type="text" placeholder="Confirme sua senha">
                          <img src="./assets/cadeado_icon.svg">
                      </div>
                  </div>
              </div>
          </div>
       </div>
      <div id="esqueceu_senha"><a href="./cadastro.html">Esqueci minha senha</a></div>
  </div>

  <div id="botoes_login">
      <button id="botao_cadastro">
          <h4>Cadastro</h4>
      </button>
      <div id="divisor_ou">
          <hr> <h5>OU</h5> <hr>
      </div>
      <button id="botao_login" (click)="navigateToHome()">
          <h4>Entre em uma conta existente</h4>
      </button>
  </div>

  </div>
</div>

