<ng-container *ngIf="dissayData && userDissayData">
<div class="layout">
  <div *ngIf="dataLoaded">
    <app-left-info [urlLink]="musicData.externalLink" [trackName]="musicData.name" [urlImage]="musicData.albumImages[0].link" [albumId]="musicData.albumId"></app-left-info>
  </div>
  <div class="conteudo">
    <div class="dissay_content">
      <h1>{{dissayData.name}}</h1>

      <div class="perfil_avaliacao">
        <div class="dissay_perfil">
          <img src="../../../assets/perfil_icon.png">
          <h2>{{userDissayData.name}}</h2>
        </div>
        <div class="dissay_avaliacao" *ngIf="totalRate !== null">
          <div class="estrelas_avaliacao" *ngFor="let i of [1,2,3,4,5]">
            <button (click)="avaliateDissay(i)"><img *ngIf="dissayData.totalRate! >=i" src="../../../assets/estrela_cheia.svg"></button>
            <button (click)="avaliateDissay(i)"><img *ngIf="dissayData.totalRate! < i"  src="../../../assets/estrela_vazia.svg"></button> 
          </div>
          <div class="estrelas_avaliacao" *ngIf="dissayData.totalRate === undefined">
            <div *ngFor="let i of [1,2,3,4,5]">
              <button (click)="avaliateDissay(i)"><img src="../../../assets/estrela_vazia.svg"></button>
            </div>
          </div>
          <h2>{{dissayData.totalRate}}</h2>
        </div>
        <div class="dissay_avaliacao" *ngIf="totalRateUser !== undefined">
          <div class="estrelas_avaliacao" *ngFor="let i of [1,2,3,4,5]">
            <button (click)="editAvaliation(i)"><img *ngIf="totalRateUser >=i" src="../../../assets/estrela_cheia.svg"></button>
            <button (click)="editAvaliation(i)"><img *ngIf="totalRateUser < i"  src="../../../assets/estrela_vazia.svg"></button>
          </div>
          <h2>{{totalRateUser}}</h2>
          <h4>({{dissayData.totalRate}})</h4>
        </div>
      </div>

      <div class="instrumentos_secao">
        <div class="instrumentos">
          <h1 class="secao_titulo">Instrumentos</h1>
          <div class="linha"></div>
          <div class="lista_instrumentos" >
            <app-instrumento-mini-2 *ngFor="let instrumento of dissayData.instruments" [instrumentData]="instrumento"></app-instrumento-mini-2>
          </div>
        </div>
        <div class="afinacao" *ngIf="dissayData.tone">
          <h2>Afinação</h2>
          <app-instrumento-mini-2></app-instrumento-mini-2>
        </div>
      </div>

      <div class="descricao">
        <h1 class="secao_titulo">Descrição</h1>
        <div class="linha"></div>
        <div class="campo_texto">
         {{dissayData.desc}}
         <h2 *ngIf="!dissayData.desc">Dissay sem descrição no momento...</h2>
        </div>
      </div>

      <button class="agradecimento"><h3>Esse Dissay te ajudou? Envie um agradecimento!</h3><img src="../../../assets/donate_icon.svg" alt=""></button>

      <div class="comentarios">
        <h1 class="secao_titulo">Comentários</h1>
        <div class="linha"></div>
        <div class="zona_comentario">
          <img class="mini_avatar" src="../../../assets/icone_0.png">
          <div class="campo_comentario">
            <textarea #textarea_comentario (input)="adjustHeight(textarea_comentario)" spellcheck="false" class="comentario" placeholder="Adicione um comentário..."></textarea>
            <div class="botoes_comentario">
              <button><h4 class="cancelar">Cancelar</h4></button>
              <button (click)="publicarComentario(textarea_comentario.value)"><h4 class="publicar">Publicar</h4></button>
            </div>
          </div>
        </div>

        <div class="respostas">
          <div *ngFor="let comentario of comments; let i = index">
          <div *ngIf="comentario.idParent!.length === 0">
            <div class="resposta" >
              <div  class="conteudo_resposta">
                <img class="mini_avatar" src="../../../assets/icone_1.png" alt="">
              <div class="resposta_right">
                <div class="nome_data">
                  <h5>{{ comentario.userName }}</h5>
                  <p>{{ comentario.date }}</p>
                  <div *ngIf="userData">
                    <button (click)="excluirComentario(comentario._id!)" *ngIf="comentario.userName === userData.userName"><img src="../../../assets/delete_24dp_5F6368_FILL0_wght400_GRAD0_opsz24.svg" alt="" srcset=""></button>
                  </div>
                </div>
                <div class="resposta_text">
                  <p>{{comentario.text}}</p>
                </div>
                
                <div class="responder_usuario">
                  <button (click)="toggleResposta(i)">
                    <h5 class="responder">Responder</h5>
                  </button>
                </div>
                <div *ngFor="let resposta of comments; let j = index">
                  <div class="resposta" *ngIf="resposta.idParent === comentario._id">
                    <div  class="conteudo_resposta">
                      <img class="mini_avatar" src="../../../assets/icone_1.png" alt="">
                    <div class="resposta_right">
                      <div class="nome_data">
                        <h5>{{ resposta.userName }}</h5>
                        <p>{{ resposta.date }}</p>
                        <div *ngIf="userData">
                          <button (click)="excluirComentario(resposta._id!)" *ngIf="resposta.userName === userData.userName"><img src="../../../assets/delete_24dp_5F6368_FILL0_wght400_GRAD0_opsz24.svg" alt="" srcset=""></button>
                        </div>
                      </div>
                      <div class="resposta_text">
                        <p>{{resposta.text}}</p>
                      </div>
                      
                      <div class="responder_usuario">
                        <button (click)="toggleResposta(j)">
                          <h5 class="responder">Responder</h5>
                        </button>
                        <div><h5 class="usuario_respondido" *ngIf="resposta.idParentAwnser">para: {{ getUserNameByIdParent(resposta.idParentAwnser) }}</h5>
                        <h5 class="usuario_respondido" *ngIf="!resposta.idParentAwnser && resposta.idParent">para: {{ getUserNameByIdParent(resposta.idParent!)}}</h5></div>
                      </div>
                    </div>
                    </div>
                    <div *ngIf="isRespostaOpen(j)" class="zona_comentario">
                      <img class="mini_avatar" src="../../../assets/icone_0.png">
                      <div class="campo_comentario">
                        <textarea #textarea_resposta (input)="adjustHeight(textarea_resposta)" spellcheck="false" class="comentario" placeholder="Adicione uma resposta..."></textarea>
                        <div class="botoes_comentario">
                          <button (click)="cancelarResposta(i, textarea_resposta.value)"><h4 class="cancelar">Cancelar</h4></button>
                          <button (click)="publicarResposta(i,comentario._id!, textarea_resposta.value, resposta._id!)"><h4 class="publicar">Publicar</h4></button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              </div>
  
              <div *ngIf="isRespostaOpen(i)" class="zona_comentario">
                <img class="mini_avatar" src="../../../assets/icone_0.png">
                <div class="campo_comentario">
                  <textarea #textarea_resposta (input)="adjustHeight(textarea_resposta)" spellcheck="false" class="comentario" placeholder="Adicione uma resposta..."></textarea>
                  <div class="botoes_comentario">
                    <button (click)="cancelarResposta(i, textarea_resposta.value)"><h4 class="cancelar">Cancelar</h4></button>
                    <button (click)="publicarResposta(i,comentario._id!, textarea_resposta.value)"><h4 class="publicar">Publicar</h4></button>
                  </div>
                </div>
              </div>
              <div class="respostas"></div>
            </div>

          </div>
        </div>
        </div>
      </div>

    </div>
  </div>
</div>


<div [ngClass]="{'aviso': true, 'success': tipoAviso === 'success', 'error': tipoAviso === 'error', 'mostrar': mostrarAviso, 'sumir': sumirAviso}">
  {{ mensagemAviso }}
</div>
</ng-container>
