.layout_perfil {
  display: flex;
  gap: 64px;
  min-height: 91vh;
  position: relative;
}

.perfil_left {
  width: 320px;
  padding: 0px 32px;
  background-color: #f2f2f2;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.perfil_left div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 8px 0px;
}

.informacoes {
  width: 80%;
  margin-top: 80px;
  text-align: center;
}

.img_perfil {
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

.img_edit {
  width: 24px;
  height: 24px;
}

.agradecimento {
  color: #FD47BC;
}

.agradecimento img {
  width: 24px;
  height: 24px;
}
.slider {
  display: inline-flex;
  width: max-content;
  gap: 16px;
  margin-bottom: 8px;
}

.perfil_right {
  display: flex;
  flex-direction: column;
  align-items: center;
}
