<app-header></app-header>
<div class="layout_perfil">
  <div class="perfil_left">
    <h1 class="informacoes">Informações da conta</h1>
    <div class="imagem">
      <img class="img_perfil" src="../../../assets/icon_0.png">
      <img class="img_edit" src="../../../assets/edit_icon.svg">
    </div>
    <div class="nome">
      <h1>Nome do Usuário</h1>
      <img class="img_edit" src="../../../assets/edit_icon.svg">
    </div>
    <div class="email">
      <h3>Email: usua***&#64;gmail.com</h3>
      <img class="img_edit" src="../../../assets/edit_icon.svg">
    </div>
  </div>
  <div></div>
</div>
