<div class="info">
  <img [src]="urlImage" alt="">
  <div class="linha"></div>
  <div class="links_externos">
    <h3>Links externos</h3>
    <div class="lista_links">
      <div class="link">
        <img src="../../../assets/spotify_icon.svg" alt="icone spotify link">
        <h4>Spotify</h4>
      </div>
    </div>
  </div>
  <div class="album_tracks">
    <h3>{{ albumName }}</h3>
    <div *ngFor="let item of albumTracks" >
      <button (click)="navigateMusic(item.id)"><h4>{{item.name}} #{{item.orderTrack}}</h4></button>    
  </div>
</div>
