<div class="search_layout">
  <div class="barra_catergorias">
    <div class="barra_pesquisa_search">
      <input type="text" [(ngModel)]="searchQuery" (input)="onSearchChange(searchQuery)" placeholder="Conteudo pesquisado">
      <img src="../../../assets/lupa_icon.svg">
    </div>
    <div class="categorias">
      <button (click)="changeMusica()" class="categoria" [ngClass]="{'categoria_selecionada': categoria === 'catMusica'}" >Músicas</button>
      <button (click)="changeAlbuns()" class="categoria" [ngClass]="{'categoria_selecionada': categoria === 'catAlbuns'}">Álbuns</button>
      <button (click)="changeSinglesEps()" class="categoria" [ngClass]="{'categoria_selecionada': categoria === 'catSinglesEps'}">Singles & EPs</button>
      <button (click)="changeArtistas()" class="categoria" [ngClass]="{'categoria_selecionada': categoria === 'catArtistas'}">Artistas</button>
      <button (click)="changeDissays()" class="categoria" [ngClass]="{'categoria_selecionada': categoria === 'catDissays'}">Dissays</button>
    </div>
  </div>

  <div class="resultados_item">
    <div class="resultados">
      <div class="resultado">
        <img src="">
      <div class="resultado_textos">
        <h2>Música</h2>
        <h3>Álbum</h3>
        <h4>Artista</h4>
      </div>
      <div class="resultado_criados">Dissays criados: 4</div>
      </div>
      <div class="linha"></div>
    </div>
  </div>
</div>
