<header>
  <div id="h_left">
    <button (click)="navigateHome()"><img id="logo_header" src="../../../assets/Logo_roxo.png"></button>
  </div>
  <div id="barra_pesquisa" (click)="focusInput()" *ngIf="!isSearchRoute()">
    <input #input_pesquisa [(ngModel)]="text" type="text" placeholder="Pesquise aqui sua música favorita" (keyup.enter)="pesquisar(text)">
    <button type="submit" (click)="pesquisar(text)"><img src="../../../assets/lupa_icon.svg"></button>
  </div>
  <div id="h_right">
    <div id="auth_redirects">
        <button (click)="navigateLogin(false)" *ngIf="accessToken.length === 0"><h3 id="entrar_text" >Entrar</h3></button>
        <button (click)="navigateLogin(true)" *ngIf="accessToken.length > 0"><h3 id="entrar_text" >Sair</h3></button>
        <button (click)="navigateCadastro()"><h3 *ngIf="accessToken.length === 0">Cadastrar</h3></button>
    </div>
    <h3>Sobre</h3>
  </div>
</header>
