<header>
  <div id="h_left">
    <button (click)="navigateHome()"><img id="logo_header" src="../../../assets/Logo_roxo.png"></button>
  </div>
  <div id="barra_pesquisa" (click)="focusInput()">
    <input #input_pesquisa type="text" placeholder="Pesquise aqui sua música favorita">
    <img (click)="pesquisar()" src="../../../assets/lupa_icon.svg">
  </div>
  <div id="h_right">
    <div id="auth_redirects">
        <button (click)="navigateLogin()"><h3 id="entrar_text">Entrar</h3></button>
        <button (click)="navigateCadastro()"><h3>Cadastrar</h3></button>
    </div>
    <h3>Sobre</h3>
  </div>
</header>
