
.master_layout {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 10px;
    
}
.notificacoes_layout {
    width: 500px;
    background-color: #eeeeee;
    border-radius: 12px 0px 12px 12px;
    display: flex;
    flex-direction: column;
    height: 600px;
    overflow: hidden;
    margin-top: -10x;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    overflow-y: auto;
}
#img_music{
  height: 80px;
  border-radius: 8px;
}

button {
    padding: 0px;
    margin: 0px;
}
.titulo {
    padding: 24px 0px 24px 32px;
    border-bottom: 1px solid #00000080;
}

.triangle {
    width: 0;
  height: 0;
  border-top: 8px solid transparent;

  border-left: 8px solid transparent;
  border-right: 8px solid #eeeeee;
  border-bottom: 8px solid #eeeeee;
}

.espaco_not { 
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #00000080;
}

.espaco_not button {
    width: 100%;
}

.espaco_not button:hover {
    background-color: #cccccc;
}

.notificacao {
    box-sizing: border-box;
    padding: 16px 24px;
    width: 100%;
    display: flex;
    gap: 16px;
    align-items: center;
}

.textos {
    width: 100%;
    box-sizing: border-box;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Limita a duas linhas */
    -webkit-box-orient: vertical;
    overflow: hidden; /* Oculta o texto que ultrapassa */
    text-overflow: ellipsis; /* Adiciona "..." se o texto for cortado */
    text-align: start;
  }
h3 {
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: start;
    font-weight: 600;
}

h4 {
    margin-top: 4px;
    font-weight: 500;
    text-align: start;
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Limita a duas linhas */
    -webkit-box-orient: vertical;
}

::-webkit-scrollbar {
    width: 12px; /* Altura da barra de rolagem */
  }
  
  /* Estilo do "trilho" da barra de rolagem */
  ::-webkit-scrollbar-track {
    background: transparent; /* Cor do fundo da barra */
  }
  
  /* Estilo do "polegar" ao passar o mouse */
  ::-webkit-scrollbar-thumb {
    background: #808080; /* Cor do polegar ao passar o mouse */
    border-radius: 6px; /* Cantos arredondados */
  }