<div class="master_layout" *ngIf="listReceived">
    <div class="triangle"></div>
    <div class="notificacoes_layout">
        <h3 class="titulo">Notificações</h3>
        <div class="linha"></div>
        <div class="notificacao" *ngFor="let notification of listReceived">
            <img *ngIf="notification.type === 'Dissay'" src="../../../assets/piano.svg">
            <div class="textos">
                <h3>@zezin comentou no seu Dissay: Dissay do Metallidsfbjbdfsjbdfjbdfa</h3>
                <p>"Eu achei mt legal n sei oq n sei oq ladsadsfdsfbdsjjdsjbdhsdjkjs..."</p>
            </div>
        </div>
    </div>
</div>