<div class="master_layout" *ngIf="listReceived" >
    <div class="triangle"></div>
    <div class="notificacoes_layout">
        <h3 class="titulo">Notificações</h3>
        <div class="linha"></div>
        <div *ngFor="let notification of listReceived">
          <button *ngIf="notification.type === 'Dissay'" (click)="navigateToDissay(notification.idObject)"><div class="notificacao">
            <img *ngIf="notification.idOptional" id="img_music" [src]="returnImageBaseById(notification.idOptional)">
            <div class="textos">
                <h3>Sua música salva teve um Dissay publicado!</h3>
            </div>
        </div></button>
        </div>

    </div>
</div>
