<div class="d_mini">
  <div class="d_mini_content">
      <div class="d_mini_info">
          <div class="d_mini_text">
            <h4>Opinião - Grenade</h4>
            <h5>Luana</h5>
          </div>
          <div class="d_mini_rating_save">
              <div class="d_mini_rating">
                <img src="../../../assets/estrela_cheia.svg">
                <img src="../../../assets/estrela_cheia.svg">
                <img src="../../../assets/estrela_cheia.svg">
                <img src="../../../assets/estrela_cheia.svg">
                <img src="../../../assets/estrela_cheia.svg">
              </div>
              <h4>4.7</h4>
              <img class="imagem_album" src="../../../assets/save_icon.svg" alt="save_icon">
          </div>
      </div>
      <img class="d_mini_cover" src="../../../assets/doo-woops & hooligans.jpg" alt="">
  </div>
  <div class="d_mini_instruments">
    <app-instrumento-mini></app-instrumento-mini>
    <app-instrumento-mini></app-instrumento-mini>
    <app-instrumento-mini></app-instrumento-mini>
  </div>
</div>
