<div id="home">
    <div id="banner">
        <div id="banner_text">
            <h1>Junte-se às nossas comunidades!</h1>
            <h2>Compartilhe, aprenda e interaja com músicos do mundo todo.</h2>
        </div>
        <div id="banner_icons">
            <img src="../../../assets/reddit_logo.png" alt="reddit_logo">
            <img src="../../../assets/discord_logo.png" alt="discord_logo">
            <img src="../../../assets/twitter_logo.png" alt="twitter_logo">
        </div>
    </div>

    <div class="section">
        <div class="titulo_slider">
            <h1>Top Dissays</h1>
            <img src="../../../assets/fogo_vermelho_icon.svg" alt="Icone fogo">
        </div>
        <div class="slider_space" >
            <div class="slider" id="slider" >
              <app-d-mini></app-d-mini>
              <app-d-mini></app-d-mini>
              <app-d-mini></app-d-mini>
              <app-d-mini></app-d-mini>
            </div>
        </div>
    </div>

    <div class="section">
      <div class="titulo_slider">
        <h1>Músicas em alta</h1>
        <img class="icone_grafico" src="../../../assets/graph_icon.svg" alt="Icone grafico em alta">
    </div>
    <div class="slider_space" >
      <div class="slider" *ngFor="let item of topDay | slice:0:10">
        <app-m-mini
        [name] = "item.track_name"
        [artistName]="item.artist_name[0].name"
        [imageUrl]="item.image_urls[1].link"
        ></app-m-mini>
      </div>
  </div>
    </div>

    <div class="section">
      <div class="titulo_slider">
        <h1>Dissays recentemente publicados</h1>
        <img class="icone_recente" src="../../../assets/recent_icon.svg" alt="Icone relógio recente">
    </div>
    <div class="slider_space" >
      <div class="slider" id="slider" >
        <app-d-mini></app-d-mini>
        <app-d-mini></app-d-mini>
        <app-d-mini></app-d-mini>
        <app-d-mini></app-d-mini>
      </div>
  </div>
    </div>

    <div class="section">
      <div class="titulo_slider">
        <h1>Álbuns em destaque</h1>
        <img src="../../../assets/estrela_cheia.svg" alt="Icone estrela destaque">
    </div>
    <div class="slider_space" >
      <div class="slider" *ngFor="let item of topDay">
        <app-m-mini *ngIf="item.album_type === 'album'"
        [name] = "item.album_name"
        [artistName]="item.artist_name[0].name"
        [imageUrl]="item.image_urls[1].link"
        ></app-m-mini>
      </div>
  </div>
    </div>
</div>
