<div id="home">
    <div id="banner">
        <div id="banner_text">
            <h1>Junte-se às nossas comunidades!</h1>
            <h2>Compartilhe, aprenda e interaja com músicos do mundo todo.</h2>
        </div>
        <div id="banner_icons">
            <img src="../../../assets/reddit_logo.png" alt="reddit_logo">
            <img src="../../../assets/discord_logo.png" alt="discord_logo">
            <img src="../../../assets/twitter_logo.png" alt="twitter_logo">
        </div>
    </div>

    <div class="slider-container">
        <div class="titulo_slider">
            <h1>Top Dissays</h1>
            <img src="../../../assets/fogo_vermelho_icon.svg" alt="">
        </div>
        <div class="slider_container">
            <div class="slider">
                <div class="d_mini">
                    <div class="d_mini_content">
                        <div class="d_mini_info">
                            <div class="d_mini_text"></div>
                            <div class="d_mini_rating_save">
                                <div class="d_mini_rating"></div>
                                <h4>4.7</h4>
                                <img src="../../../assets/save_icon.svg" alt="save_icon">
                            </div>
                        </div>
                        <img class="d_mini_cover" src="../../../assets/doo-woops & hooligans.jpg" alt="">
                    </div>
                    <div class="d_mini_instruments"></div>
                </div>
            </div>
        </div>
    </div>
</div>

