<div class="layout coluna">

    <div class="topo">
      <div class="modelo coluna">
        <h3>Informe o modelo:</h3>
        <input type="text">
      </div>
      <h1 class="nome_instrumento">{{instrument.nameInstrument}}</h1>
      <img class="icone_instrumento" [src]=instrument.imageUrl>
    </div>
    <div class="principal">
      <div class="efeitos_especif">
        <h3>Efeitos/Especificações</h3>
        <div class="efeitos_lista">
          <div class="add_efeito">
            <h4>Adicione efeito/especificação</h4>
            <button><img src="../../../assets/black_add.svg" alt=""></button>
          </div>
        </div>
      </div>
  
      <div class="linha_vertical"></div>
  
      <div class="conteudo">
        <h1 class="nome_efeito">Informe o nome do efeito</h1>
        <div class="linha_horizontal"></div>
        <div class="parametros coluna">
          <h1>informe os parametros do efeito</h1>
        </div>
      </div>
    </div>
    <input id="btn_criar_dissay" type="submit" value="Salvar configuração!">
  </div>
