<div class="layout coluna">

    <div class="topo">
      <div class="modelo coluna">
        <h3>Informe o modelo:</h3>
        <input type="text" [(ngModel)]="modelInstrument" placeholder="Modelo do instrumento">
      </div>
      <div *ngIf="instrument">

      </div>
      <h1 *ngIf="instrument" class="nome_instrumento">{{instrument.defaultInstrument.nameInstrument}}</h1>
      <img *ngIf="instrument" class="icone_instrumento" [src]=instrument.defaultInstrument.imageUrl>
      <h1 *ngIf="defaultInstrument" class="nome_instrumento">{{defaultInstrument.nameInstrument}}</h1>
      <img *ngIf="defaultInstrument" class="icone_instrumento" [src]=defaultInstrument.imageUrl>
      <input [(ngModel)]="nameInputInstrument" *ngIf="!defaultInstrument && !instrument" type="text" value="Informe o nome do instrumento">
      <img *ngIf="!defaultInstrument && !instrument" src="../../../assets/outros.svg" alt="">
    </div>
    <div class="principal">
      <div class="efeitos_especif">
        <h3>Efeitos/Especificações</h3>
        <div class="efeitos_lista">
          <button [ngClass]="{'selecionado' : effects.name === efeito.name}" (click)="changeEffect(effects)" class="add_efeito" *ngFor="let effects of instrumentMade.effects">
            <h3 >{{effects.name}}</h3>
            <div class="edit_icon"><img src="../../../assets/edit_icon.svg"></div>
            
          </button>
          <button [ngClass]="{'selecionado' : efeito.name.length === 0}" class="add_efeito novo" (click)="clearEffects()">
            <p>Adicione efeito</p>
            <img src="../../../assets/REAL_black_add.svg" alt="">
          </button>
        </div>
        <button *ngIf="instrumentMade.effects.length > 0" (click)="saveInstrument()" class="salvar_configuracao">Salvar configuração</button>
      </div>
  
      <div class="linha_vertical"></div>
  
      <div class="conteudo">
        <div class="nome_efeito">
          <input *ngIf="efeito.name.length === 0" class="input_param" (input)="nomeEfeito($event)" [(ngModel)]="efeitoNomeTemp" placeholder="Informe o nome do efeito" maxlength="150" required><span *ngIf="!nomeEscrito && efeito.name.length === 0" class="required">*</span>
          <input *ngIf="efeito.name.length > 0" class="input_param" (input)="nomeEfeito($event)" [(ngModel)]="efeitoNomeTemp" placeholder="Informe o nome do efeito" maxlength="150" required><span  *ngIf="!nomeEscrito && efeito.name.length > 0" class="required">*</span>

        </div>
        <div class="linha_horizontal"></div>
        <div class="parametros coluna" *ngIf="efeitoNomeTemp.length > 0">
          <div class="parametro">
            <input maxlength="100" *ngIf="!editMode" (input)="parametroInput($event)" class="input_param input_parametro" [(ngModel)]="chave" placeholder="Parâmetro" >
            <input maxlength="100" *ngIf="editMode" (input)="parametroInput($event)" class="input_param input_parametro" [(ngModel)]="chave" placeholder="Parâmetro" >

            <span>:</span>
            <input maxlength="100" *ngIf="!editMode" class="input_param input_valor" [(ngModel)]="valor" placeholder="Valor">
            <input maxlength="100" *ngIf="editMode" class="input_param input_valor" [(ngModel)]="valor" placeholder="Valor">

            <button (click)="adicionarParametro(chave, valor)"><img *ngIf="!editMode" src="../../../assets/REAL_black_add.svg" alt=""><img *ngIf="editMode" src="../../../assets/check_24dp_5F6368_FILL0_wght400_GRAD0_opsz24.svg"></button>

          </div>
          
          <div class="espaco_parametros" *ngFor="let param of efeito.parameters | keyvalue">
            <div class="parametro"  *ngIf="param.key !== chave">
                <div class="parametro_content"><h2 id="parametro-chave">{{param.key}}:</h2><p id="parametro-valor">{{param.value}}</p></div>
                <button (click)="toggleEdit(param.key, param.value)" class="edit_icon"><img *ngIf="!editMode" src="../../../assets/edit_icon.svg" alt=""></button>
              </div>
          </div>
          <button *ngIf="TemParametros()" (click)="saveEffect()" class="salvar_efeitos">Salvar efeitos</button>

          <div  >
              
          </div>

