<div id="profile_left">
  <div id="profile_left-top">
      <div id="grey_circle"></div>
      <h3>Você ainda não criou uma conta</h3>
      <h5>Crie uma conta para uma experiência completa do Soundbrary</h5>
  </div>

  <div id="coluna_salvos">
      <div id="item_salvos">
          <img src="../../../assets/song_icon.svg">
          <h4>Músicas salvas</h4>
      </div>
      <div id="item_salvos">
          <img src="../../../assets/artist_icon.svg">
          <h4>Artistas salvos</h4>
      </div>
      <div id="item_salvos">
          <img src="../../../assets/album_icon.svg">
          <h4>Albuns salvos</h4>
      </div>
      <div id="item_salvos">
          <img src="../../../assets/article_icon.svg">
          <h4>Artigos salvos</h4>
      </div>
  </div>

  <div id="btn_criar_dissay">
      <img src="./assets/add_icon.svg">
      <h5>Crie um Dissay</h5>
  </div>
</div>
