<button (click)="openInstrument()" *ngIf="instrumento">
    <div class="card">
      <div class="card_icons">
          <button ><img class="card_icon" src="../../../assets/edit_icon.svg"></button>
          <button (click)="deleteInstrument(instrumento.defaultInstrument.nameInstrument)"><img class="card_icon" src="../../../assets/trash_icon.svg"></button>
      </div>
      <img class="card_imagem" [src]="instrumento.defaultInstrument.imageUrl">
      <div class="card_text">{{instrumento.defaultInstrument.nameInstrument}}</div>
  </div>
</button>

<button (click)="openInstrument()" *ngIf="afinacao && !instrumento">
  <div class="card">
    <img class="card_imagem" src="../../../assets/clava_sol_icon.svg">
    <div class="card_text">{{afinacao}}</div>
</div>
</button>


<button (click)="openInstrument()" *ngIf="!instrumento && !afinacao">
  <div class="card">
    <img class="card_imagem" src="../../../assets/big_add_icon.svg">
    <div class="card_text mais">Adicionar instrumento</div>
</div>
</button>

<ng-template cdkPortal *ngIf="instrumento">
  <app-instrumento-criar-overlay [instrument]="instrumento"></app-instrumento-criar-overlay>
 </ng-template>

 <ng-template cdkPortal *ngIf="!instrumento && !afinacao">
  <app-add-instrumento ></app-add-instrumento>
 </ng-template>

 <ng-template cdkPortal *ngIf="afinacao && !instrumento">
  <app-add-instrumento [isAfinacao]="true"></app-add-instrumento>
 </ng-template>