.card {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px 32px;
    border: 1px solid black;
    align-items: center;
    border-radius: 20px;
    width: 208px;
    height: 180px;
    align-items: center;
    justify-content: center;
}

.card_icons {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.card_icon {
    width: 24px;
    height: 24px;
}

.card_imagem {
    width: 100px;
    height: 100px;
}

.card_text {
    font-size: 20px;
    font-weight: bold;
}