<div *ngIf="dataload">
  <div id="home">
    <div id="banner">
        <div id="banner_text">
            <h1>Junte-se às nossas comunidades!</h1>
            <h2>Compartilhe, aprenda e interaja com músicos do mundo todo.</h2>
        </div>
        <div id="banner_icons">
            <img src="../../../assets/reddit_logo.png" alt="reddit_logo">
            <img src="../../../assets/discord_logo.png" alt="discord_logo">
            <img src="../../../assets/twitter_logo.png" alt="twitter_logo">
        </div>
    </div>

    <div class="section" *ngIf="dissays.length > 0">
        <div class="titulo_slider">
            <h1>Dissays recentes</h1>
            <img src="../../../assets/9-512.webp" alt="Icone relógio">
        </div>
        <div class="slider_space" >
            <div class="slider" *ngFor="let dissay of dissays">
              <app-d-mini [musicId]="dissay.musicId" [userName]="dissay.userName" [name]="dissay.name" [listInstruments]="dissay.instruments" [rateNumber]="dissay.totalRate ?? 0.0" [idDissay]="dissay._id ?? ''"></app-d-mini>
            </div>
        </div>
    </div>

    <div class="section">
      <div class="titulo_slider">
        <h1>Músicas em alta</h1>
        <img class="icone_grafico" src="../../../assets/graph_icon.svg" alt="Icone grafico em alta">
    </div>
    <div class="slider_space" >
      <div class="slider" *ngFor="let item of topDay">
        <app-m-mini
        [id] = "item.id"
        [isAlbum]="false"
        [name] = "item.name"
        [artistName]="item.artists[0].name"
        [imageUrl]="item.albumImages[0].link"
        ></app-m-mini>
      </div>
  </div>
    </div>

    <div class="section">
      <!-- <div class="titulo_slider">
        <h1>Dissays recentemente publicados</h1>
        <img class="icone_recente" src="../../../assets/recent_icon.svg" alt="Icone relógio recente">
    </div>
    <div class="slider_space">
      <div class="slider" id="slider" *ngFor="let dissay of dissays">
        <app-d-mini [musicId]="dissay.musicId" [name]="dissay.name" [listInstruments]="dissay.instruments" [userId]="dissay.userId" ></app-d-mini>

  </div>
    </div> -->

    <div class="section">
      <div class="titulo_slider">
        <h1>Álbuns em destaque</h1>
        <img src="../../../assets/estrela_cheia.svg" alt="Icone estrela destaque">
    </div>
    <div class="slider_space" >
      <div class="slider" *ngFor="let item of albumItems">
        <app-m-mini
        [isAlbum]="true"
        [id]="item.id"
        [name] = "item.albumName"
        [artistName]="item.artists[0].name"
        [imageUrl]="item.albumImage[0].link"
        ></app-m-mini>
      </div>
  </div>
    </div>
</div>

</div>
<ng-template *ngIf="!dataload">
  <p>Carregando página...</p>
</ng-template>
