#home {
    width: 1200px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 48px 0px;
    margin: auto;
}

.titulo_slider{
    display: flex;
    gap: 8px;
}

.titulo_slider img{
    height: 36px;
    width: 36px;
}

#banner{
    padding: 64px;
    display: flex;
    justify-content: space-between;
    width: auto;
    height: min-content;
    background-color: #acf7b8;
    align-items: center;
    border-radius: 12px;
    cursor: pointer;
}

#banner_text{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#banner_text h2 {
    width: 400px;
    font-weight: 400;
}

#banner_icons {
    display: flex;
    gap: 32px;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.slider_space{
  width: 100%; /* Ajuste conforme necessário */
  overflow-x: scroll; /* Permite o scroll horizontal */
  white-space: nowrap; /* Mantém os slides em uma única linha */
  display: flex;
  gap: 16px;
}

.no_slider_space{
  height: 180px;
  align-items: center;
  display: flex;
  color: #808080;
  justify-content: center;
  font-weight: 600;
  font-size: 24px;
}

.slider {
  display: inline-flex;
  width: max-content;
  gap: 16px;
  margin-bottom: 16px;
}


.progress-bar {
  width: 100%;
  height: 4px;
  background-color: #e0e0e0;
  position: relative;
  margin-top: 10px;
}


.slider-container:active {
  cursor: grabbing; /* Cursor quando arrastando */
}


::-webkit-scrollbar {
  height: 8px; /* Altura da barra de rolagem */
}

/* Estilo do "trilho" da barra de rolagem */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Cor do fundo da barra */
}

/* Estilo do "polegar" ao passar o mouse */
::-webkit-scrollbar-thumb {
  background: #808080; /* Cor do polegar ao passar o mouse */
  border-radius: 6px; /* Cantos arredondados */
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Ocupa toda a altura da tela */
  text-align: center;
}

.loading-container img {
  width: 100px; /* Tamanho do GIF */
  margin-top: 20px;
}

.loading-container p {
  font-size: 18px;
  font-weight: bold;
}
