.dissay {
  padding: 32px 48px;
  background-color: rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.topo{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.topo_textos {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.topo_textos h2 {
  width: 100%;
  text-align: start;

}

.info_perfil {
  display: flex;
  gap: 8px;

}

.info_perfil_texto {
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
  white-space: pre;
}

.info_perfil_texto span {
  color: #FD47BC;
  font-weight: 600;
}

.info_perfil img {
  width: 24px;
  height: 24px;
  border-radius: 100px;
}

.topo_avaliacao {
  display: flex;
  align-items: center;
  gap: 8px;
}

.estrelas {
  display: flex;
  gap: 4px;
}

.estrelas img {
  height: 32px;
  width: 32px;
}

.conteudo{
  display: flex;
  gap: 48px;
  width: 100%;
  justify-content: space-between;

}

.instrumentos {
  display: flex;
  gap: 16px;
  width: fit-content ;
}

.texto_dissay {
  width: 50%;
  font-size: 16px;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* Limita a 4 linhas */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2em; /* Ajuste a altura da linha para evitar que uma 5ª linha apareça */
  max-height: calc(1.2em * 4);
}

button {
  width: 100%;
  display: flex;
  
}

.instrumento_mini {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 12px 12px;
  border: 1px solid rgba(0, 0, 0, 0.75);
  border-radius: 8px;
  width: fit-content;
  background-color: white;
}

.instrumento_mini img {
  height: 48px;
  width: 48px;
}

.instrumento_mini h5 {
  font-weight: 700;
  max-width: 64px;
  text-align: center;
  white-space: nowrap;  
  overflow: hidden;  
  text-overflow: ellipsis;
}

.instrumento_mini h1 {
  height: 48px;
  width: 48px;
  align-items: center;
}