<ng-container *ngIf="dataLoaded"></ng-container>
<div class="dissay">
  <div class="topo">
    <div class="topo_textos">
      <h3>{{name}}</h3>
      <div class="info_perfil">
        <img src="../../../assets/perfil_icon.png">
        <div class="info_perfil_texto"><span>{{userName}} </span>- atualizado em: <span>{{date}}</span></div>
      </div>
    </div>
    <div class="topo_avaliacao">
      <div class="estrelas">
        <img src="../../../assets/estrela_cheia.svg">
        <img src="../../../assets/estrela_cheia.svg">
        <img src="../../../assets/estrela_cheia.svg">
        <img src="../../../assets/estrela_cheia.svg">
        <img src="../../../assets/estrela_cheia.svg">
      </div>
      <h4>{{rateNumber}}</h4>
    </div>
  </div>

  <div class="conteudo">
    <div class="instrumentos">
      <app-instrumento-mini></app-instrumento-mini>
      <app-instrumento-mini></app-instrumento-mini>
      <app-instrumento-mini></app-instrumento-mini>
      <app-instrumento-mini></app-instrumento-mini>
    </div>
    <div class="texto_dissay">{{desc}}</div>
  </div>
</div>
