.instrumento-mini-2 {
  padding: 24px;
  border: solid 1px black;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: fit-content;
  height: fit-content;
}
button {
  padding: 0px;
}

.instrumento-mini-2 h4 {
  max-width: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.espaco_img {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
