<button *ngIf="instrumentData && !instrumentDefault && !nomeAfinacao && !toneDissay" (click)="openInstrument()">
  <div class="instrumento-mini-2">
    <img class="espaco_img" [src]="instrumentData.defaultInstrument.imageUrl">
    <h4>{{instrumentData.defaultInstrument.nameInstrument}}</h4>
  </div>  
</button>

<button *ngIf="!instrumentData && instrumentDefault && !nomeAfinacao  && !toneDissay" (click)="openInstrument()">
  <div class="instrumento-mini-2">
    <img class="espaco_img" [src]="instrumentDefault.imageUrl">
    <h4>{{instrumentDefault.nameInstrument}}</h4>
  </div>  
</button>

<button *ngIf="!instrumentData && !instrumentDefault && !nomeAfinacao  && !toneDissay" (click)="openInstrument()">
  <div class="instrumento-mini-2">
    <img class="espaco_img" src="../../../assets/outros.svg">
    <h4>Outro...</h4>
  </div>  
</button>

<button *ngIf="!instrumentData && !instrumentDefault && nomeAfinacao  && !toneDissay" (click)="setAfinacao(nomeAfinacao)">
  <div class="instrumento-mini-2">
    <div class="espaco_img"><h1>{{nomeBigAfinacao}}</h1></div>
    <h4>{{nomeAfinacao}}</h4>
  </div>  
</button>


<ng-container *ngIf="!instrumentData && !instrumentDefault && !nomeAfinacao  && toneDissay">
  <div class="instrumento-mini-2">
    <img src="../../../assets/song_icon.svg" alt="">
    <h4>{{toneDissay}}</h4>
  </div>  
</ng-container>

 <ng-template cdkPortal *ngIf="instrumentData && !instrumentDefault">
  <app-instrumento-overlay [instrumentParams]="instrumentData"></app-instrumento-overlay>
 </ng-template>

 <ng-template cdkPortal *ngIf="!instrumentData && instrumentDefault">
  <app-instrumento-criar-overlay [defaultInstrument]="instrumentDefault"></app-instrumento-criar-overlay>
 </ng-template>

 <ng-template cdkPortal *ngIf="!instrumentData && !instrumentDefault">
  <app-instrumento-criar-overlay></app-instrumento-criar-overlay>
 </ng-template>
