<div class="layout coluna">
  <div class="topo">
    <div class="modelo coluna">
      <h3>Modelo:</h3>
      <h4>{{instrumentParams.model}}</h4>
    </div>
    <h1 class="nome_instrumento">{{instrumentParams.defaultInstrument.nameInstrument}}</h1>
    <img class="icone_instrumento" [src]=instrumentParams.defaultInstrument.imageUrl>
  </div>
  <div class="principal">
    <div class="efeitos_especif">
      <h3>Efeitos/Especificações</h3>
      <div class="efeitos_lista">
        <button [ngClass]="{'selecionado' : effects.name === efeito.name}" class="efeito"  *ngFor="let effects of listParams"  (click)="loadListParams(effects)" ><p >{{effects.name}}</p></button>
      </div>
    </div>

    <div class="linha_vertical"></div>

    <div class="conteudo">
      <h1 class="nome_efeito">{{efeito.name}}</h1>
      <div class="linha_horizontal"></div>
      <div class="parametros coluna">
        <div *ngFor="let param of efeito.parameters | keyvalue">
          <div class="parametro">
            <h2>{{param.key}}:</h2><p>{{param.value}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
