<div class="layout coluna">
  <div class="topo">
    <div class="modelo coluna">
      <h3>Modelo:</h3>
      <h4>{{instrumentParams.model}}</h4>
    </div>
    <h1 class="nome_instrumento">{{instrumentParams.defaultInstrument.nameInstrument}}</h1>
    <img class="icone_instrumento" [src]=instrumentParams.defaultInstrument.imageUrl>
  </div>
  <div class="principal">
    <div class="efeitos_especif">
      <h3>Efeitos/Especificações</h3>
      <div class="efeitos_lista">
        <div class="efeito" *ngFor="let efeito of instrumentParams.effects | keyvalue"><p>{{efeito.key}}</p></div>
      </div>
    </div>

    <div class="linha_vertical"></div>

    <div class="conteudo">
      <h1 class="nome_efeito">Super Overdrive</h1>
      <div class="linha_horizontal"></div>
      <div class="parametros coluna">
        <div class="parametro">
          <h2>Tone:</h2><p>50/100</p>
        </div>
        <div class="parametro">
          <h2>Drive:</h2><p>25/100</p>
        </div>
        <div class="parametro">
          <h2>Level:</h2><p>70/100</p>
      </div>
    </div>
  </div>
</div>
