<div class="layout coluna">
  <div class="topo">
    <div class="modelo coluna">
      <h3>Modelo:</h3>
      <h4>{{instrumentParams.model}}</h4>
    </div>
    <h1 class="nome_instrumento">{{instrumentParams.defaultInstrument.nameInstrument}}</h1>
    <img class="icone_instrumento" [src]=instrumentParams.defaultInstrument.imageUrl>
  </div>
  <div class="principal">
    <div class="efeitos_especif">
      <h3>Efeitos/Especificações</h3>
      <div class="efeitos_lista">
        <button  class="efeito"  *ngFor="let efeito of instrumentParams.effects | keyvalue" [ngClass]="{'selecionado' : efeito.key === nameEffect}" (click)="loadListParams(efeito)" ><p >{{efeito.key}}</p></button>
      </div>
    </div>

    <div class="linha_vertical"></div>

    <div class="conteudo">
      <h1 class="nome_efeito">{{nameEffect}}</h1>
      <div class="linha_horizontal"></div>
      <div class="parametros coluna">
        <div *ngFor="let param of listParams">
          <div class="parametro" *ngFor="let entry of param | keyvalue">
            <h2>{{entry.key}}:</h2><p>{{entry.value}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
