<ng-container *ngIf="artistItem && albumItems && singleItems">
  <div *ngIf="!dataLoaded" class="loading-container">
    <p>Carregando...</p>
    <img src="assets/loading.gif" alt="Carregando">
  </div>

  <div class="layout" *ngIf="dataLoaded && artistItem">
    <div>
      <app-left-info [urlImage]="artistItem.artistImages[0].link" [urlLink]="artistItem.externalLink" [isArtistPage]="true"></app-left-info>
    </div>

    <div class="conteudo">
      <div class="title-song">
        <h1 class="nome_artista">{{ artistItem.name }}</h1>
        <button (click)="saveOrRemoveArtist(artistItem.id, saved)">
          <img src="../../../assets/Vector.png" *ngIf="!saved" alt="">
          <img src="../../../assets/salvado.png" *ngIf="saved" alt="">
        </button>
      </div>

        <div class="generos_sec">
            <h3>Gêneros do artista: </h3>
            <div *ngIf="artistItem.genres.length > 0" class="generos">
              <div class="genero" *ngFor="let genero of artistItem.genres"><h4>{{ genero }}</h4></div>
            </div>
            <div *ngIf="artistItem.genres.length === 0" class="sem_generos">
              <h3>Sem gêneros fornecidos para o artista.</h3>
            </div>
        </div>

        <div class="seguidores">
          <h3>Seguidores: <span>{{ artistItem.artistFollowers | numeroFormatado }}</span></h3>
        </div>
        
        


        <div class="lancamentos">
          <div class="lancamentos_secao">
            <div class="lancamentos_secao_topo">
              <div class="lancamentos_secao_texto">
                <h2>Álbuns</h2>
                <h2>Ano de lançamento</h2>
              </div>
              <div class="linha"></div>
            </div>

            <div *ngFor="let album of albumItems">
             <div class="lancamento">
                <img [src]="album.albumImage[0].link">
                <div class="lancamento_texto">
                  <button (click)="navigateAlbum(album.id)"><h2>{{ album.albumName }}</h2></button>
                  <p>{{ getArtistsString(album.artists) }}</p>
                </div>
                <h3>{{getYearFromReleaseDate(album.releaseDate)}}</h3>
              </div>
              
              <div class="linha"></div>
              
            </div>
            <div class="paginacao">
                <button (click)="prevPage('album')" [disabled]="pageAlbums  === 0">
                  Anterior
                </button>

                <span>Página {{ pageAlbums  + 1 }}</span>

                <button (click)="nextPage('album')" [disabled]="!hasMoreAlbums">
                  Próxima
                </button>
              </div>
            <div *ngIf="albumItems.length === 0" class="no_slider_space">O artista não possui álbuns</div>
            </div>

          <div class="lancamentos_secao">
            <div class="lancamentos_secao_topo">
              <div class="lancamentos_secao_texto">
                <h2>Singles e EPs</h2>
                <h2>Ano de lançamento</h2>
              </div>
              <div *ngIf="singleItems.length > 0" class="linha"></div>
            </div>

            <div *ngFor="let single of singleItems">
              <div  class="lancamento">
                <img [src]="single.albumImage[0].link">
                <div class="lancamento_texto">
                  <button (click)="navigateAlbum(single.id)"><h2>{{single.albumName}}</h2></button>
                  <p>{{getArtistsString(single.artists)}}</p>
                </div>
                <h3>{{getYearFromReleaseDate(single.releaseDate)}}</h3>
              </div>
              <div *ngIf="singleItems.length === 0" class="no_slider_space">O artista não possui singles ou EPS</div>
              
              <div class="linha"></div>
            </div>
            <div class="paginacao">
                <button (click)="prevPage('single')" [disabled]="pageSingles === 0">
                  Anterior
                </button>

                <span>Página {{ pageSingles + 1 }}</span>

                <button (click)="nextPage('single')" [disabled]="!hasMoreSingles">
                  Próxima
                </button>
            </div>

          </div>
        </div>
    </div>
  </div>
</ng-container>

