.anuncios {
    display: flex;
    flex-direction: column;
    gap: 64px;
    padding: 48px 48px 48px 0px;
}

.anuncio {
    background-color: #cccccc;
    width: 200px;
    cursor: pointer;
}

@media (max-width: 899px) {
  .anuncios { display: none; }
}
@media (min-width: 900px) {
  .anuncios { display: flex; flex-direction: column; gap: 64px; padding: 48px 48px 48px 0px; }
  .anuncio { width: 200px; }
}