<ng-container *ngIf="albumItem">
  <div class="layout">
    <div *ngIf="dataLoaded">
      <app-left-info [urlImage]="albumItem.albumImage[0].link" [albumId]="albumItem.id" [albumTitle]="albumItem.albumName"></app-left-info>
    </div>

    <div class="conteudo">
      <div class="title-song">
        <h1><span *ngFor="let artist of albumItem.artists; let isLast = last"><button (click)="navigateArtist(artist.id)">{{artist.name}}</button><span *ngIf="!isLast">, </span> </span> - {{ albumItem.albumName }} </h1>
        <button (click)="saveOrRemoveAlbum(albumItem.id, saved)">
          <img src="../../../assets/Vector.png" *ngIf="!saved" alt="">
          <img src="../../../assets/salvado.png" *ngIf="saved" alt="">
        </button>
      </div>

        <div class="generos_sec">
            <h3>Tipo de lançamento: </h3>
            <div class="generos">
              <div class="genero"><h4>{{ albumItem.albumType | capitalize}}</h4></div>
            </div>
        </div>

        <div class="data_lancamento">
          <h3>Data de Lançamento: <span>{{ albumItem.releaseDate }}</span></h3>
      </div>

        <div class="secao_dissays">
          <div class="secao_dissays_topo">
            <h1>Dissays <span>(4)</span></h1>
            <div class="linha"></div>
          </div>

          <div *ngFor="let item of albumItem.tracks">
            <div class="track_album">
            <button (click)="navigateMusic(item.id)"><h2><span>{{ item.orderTrack }}. </span>{{ item.name }}</h2></button>
            <div class="lista_dissays">
              <app-dissay-item></app-dissay-item>
              <app-dissay-item></app-dissay-item>
            </div>
            <button class="ver_mais" (click)="navigateMusic(item.id)">Ver mais dissays da música</button>
          </div>
          </div>



        </div>


      </div>

    </div>

</ng-container>

