<div class="overlay">
    <div class="add_layout">
        <div class="tipo">
            <h2>Corda</h2>
            <div class="linha"></div>
            <div>
                <app-instrumento-mini-2 [instrumentDefault]="listDefaultInstruments[0]"></app-instrumento-mini-2>
                <app-instrumento-mini-2 [instrumentDefault]="listDefaultInstruments[2]"></app-instrumento-mini-2>
                <app-instrumento-mini-2 [instrumentDefault]="listDefaultInstruments[8]"></app-instrumento-mini-2>
                <app-instrumento-mini-2 [instrumentDefault]="listDefaultInstruments[4]"></app-instrumento-mini-2>
            </div>
        </div>
        
        <div class="tipo">
            <h2>Teclas</h2>
            <div class="linha"></div>
            <div>
                <app-instrumento-mini-2 [instrumentDefault]="listDefaultInstruments[3]"></app-instrumento-mini-2>
                <app-instrumento-mini-2 [instrumentDefault]="listDefaultInstruments[9]"></app-instrumento-mini-2>
            </div>
        </div>
    
        <div class="tipo">
            <h2>Sopro</h2>
            <div class="linha"></div>
            <div>
                <app-instrumento-mini-2 [instrumentDefault]="listDefaultInstruments[6]"></app-instrumento-mini-2>
                <app-instrumento-mini-2 [instrumentDefault]="listDefaultInstruments[7]"></app-instrumento-mini-2>        </div>
        </div>
    
        <div class="tipo">
            <h2>Outros</h2>
            <div class="linha"></div>
            <div>
                <app-instrumento-mini-2 [instrumentDefault]="listDefaultInstruments[1]"></app-instrumento-mini-2>
                <app-instrumento-mini-2 [instrumentDefault]="listDefaultInstruments[5]"></app-instrumento-mini-2>
                <app-instrumento-mini-2 ></app-instrumento-mini-2>

            </div>
        </div>
    </div>
    </div>