header {
  background-color: #6313A1;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 16px 48px;
  height: min-content;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; 
  box-sizing: border-box;
}
div {
  display: flex;
  align-items: center;
}
#h_left {
  gap: 32px;
  height: 56px;
}
#logo_header {
  height: 48px;
}

#barra_pesquisa {
  width: 36%;
  justify-content: space-between;
  padding: 12px 40px;
  border: 1px solid white;
  border-radius: 32px;
  cursor:text;
}

h4 {
  font-weight: 300;
}

input {
  font-weight: 300;
  background-color: transparent;
  border: none;
  width: 100%;
  color: white;
}

input:focus{
  outline: none;
}

input::placeholder{
  color: inherit;
}

#h_right h3{
  font-weight: 300
}

#entrar {
  font-weight: 900px;
}

#h_right{
  gap: 32px;
}
#auth_redirects{
  gap: 32px;
  width: fit-content;
}


.custom-backdrop {
  background-color: transparent !important; 
  pointer-events: auto; /* Garante que o clique fora seja detectado */
}

.btn_notif {
  height: fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
}

button {
  height: fit-content;
  width: fit-content;
  padding: 0px;
}

.btn_notif img {
  height: 24px;
}