<header *ngIf="dataLoad">
  <div id="h_left">
    <button (click)="navigateHome()"><img id="logo_header" src="../../../assets/Logo_roxo.png"></button>
  </div>
  <div id="barra_pesquisa" (click)="focusInput()" *ngIf="!isSearchRoute()">
    <input #input_pesquisa [(ngModel)]="text" type="text" placeholder="Pesquise aqui sua música favorita" (keyup.enter)="pesquisar(text)">
    <button type="submit" (click)="pesquisar(text)"><img src="../../../assets/lupa_icon.svg"></button>
  </div>
  <div id="h_right">
    <div id="auth_redirects">
        <button (click)="navigateLogin(false)" *ngIf="user === null"><h3 id="entrar_text" >Entrar</h3></button>
        <ng-container *ngIf="user !== null">
          <button (click)="openAndCloseNotifications($event)" *ngIf="listNotification.length === 0"><img src="../../../assets/notifications_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24.svg"></button>
          <button (click)="openAndCloseNotifications($event)" *ngIf="listNotification.length > 0"><img src="../../../assets/notifications_unread_24dp_E8EAED_FILL1_wght400_GRAD0_opsz24.svg"></button>
        </ng-container>
        <button (click)="navigateLogin(true)" *ngIf="user !== null"><h3 id="entrar_text" >Sair</h3></button>
        <button (click)="navigateCadastro()"><h3 *ngIf="user === null">Cadastrar</h3></button>
    </div>
    <h3>Sobre</h3>
  </div>
</header>

<ng-template cdkPortal >
  <app-notifications [listReceived]="listNotification"></app-notifications>
 </ng-template>
