<app-header [user]="userAuth"></app-header>

<div class="layout_perfil" *ngIf="otherUser?.name || myUser">

  <div class="perfil_left">
    <h1 class="informacoes"*ngIf="isOwnProfile">Informações da conta</h1>
    <h1 class="informacoes" *ngIf="!isOwnProfile">Perfil de usuário</h1>

    <div class="imagem">
      <img class="img_perfil" src="../../../assets/icone_1.png">
      <img *ngIf="isOwnProfile" class="img_edit" src="../../../assets/edit_icon.svg">
    </div>

    <div class="nome">
      <h1 *ngIf="isOwnProfile">{{myUser.name}}</h1>
      <h1 *ngIf="!isOwnProfile">a</h1>
      <img  *ngIf="isOwnProfile" class="img_edit" src="../../../assets/edit_icon.svg">
    </div>
    <div  *ngIf="isOwnProfile" class="email">
      <h3>Email: {{myUser.email}}</h3>
      <img  class="img_edit" src="../../../assets/edit_icon.svg">
    </div>
    <div  *ngIf="isOwnProfile" class="senha">
      <h3>Alterar senha</h3>
      <img class="img_edit" src="../../../assets/edit_icon.svg">
    </div>
    <div  *ngIf="isOwnProfile" class="agradecimento">
      <h3>Receba agradecimentos!</h3>
      <img src="../../../assets/donate_icon.svg">
    </div>
  </div>

  <div class="perfil_right">
    <h1 *ngIf="isOwnProfile">Meu perfil</h1>
    <h1 *ngIf="!isOwnProfile">{{otherUser.name}}</h1>
    <div class="dissays_perfil">

      <div class="section" *ngIf="listIdsDissays.length > 0">
        <div class="titulo_slider">
            <h1>Dissays criados</h1>
        </div>
        <div class="slider_space" >
            <div class="slider" *ngFor="let dissay of dissaysList">
              <app-d-mini [userName]="dissay.userName" [name]="dissay.name" [listInstruments]="dissay.instruments"></app-d-mini>
            </div>
        </div>
      </div>

      <div class="section" *ngIf="listIdsDissays.length === 0">
        <div class="titulo_slider">
            <h1>Dissays criados</h1>
        </div>
        <div class="no_slider_space slider_space" >
            <div class="slider">
              <h2>Não há dissays criados</h2>
            </div>
        </div>
      </div>

      <div class="section" *ngIf="listIdsString.albums.length > 0">
        <div class="titulo_slider">
            <h1>Dissays salvos</h1>
        </div>
        <div class="slider_space" >
            <div class="slider">
              <app-d-mini></app-d-mini>
            </div>
        </div>
      </div>

      <div class="section" *ngIf="listIdsString.albums.length === 0">
        <div class="titulo_slider">
            <h1>Top Dissays</h1>
        </div>
        <div class="no_slider_space slider_space" >
            <div class="slider">
              <h2>Não há dissays salvos</h2>
            </div>
        </div>
      </div>

      <div *ngIf="listIdsString.musics.length > 0" class="section">
        <div class="titulo_slider">
          <h1>Musicas salvas</h1>
        </div>
        <div class="slider_space">
          <div class="slider" *ngFor="let item of musicsList">
            <app-m-mini
            [isAlbum]="false"
            [id]="item.id"
            [name] = "item.name"
            [artistName]="item.artists[0].name"
            [imageUrl]="item.albumImages[0].link"
            ></app-m-mini>
          </div>
        </div>
      </div>

      <div *ngIf="listIdsString.musics.length === 0" class="section">
        <div class="titulo_slider">
          <h1>Musicas salvas</h1>
        </div>
        <div class="no_slider_space slider_space" >
          <h2>Não há músicas salvas</h2>
        </div>
      </div>

      <div *ngIf="listIdsString.albums.length > 0" class="section">
        <div class="titulo_slider">
          <h1>Álbuns salvos</h1>
        </div>
        <div class="slider_space">
          <div class="slider" *ngFor="let item of albumsList">
            <app-m-mini
            [isAlbum]="true"
            [id]="item.id"
            [name] = "item.albumName"
            [artistName]="item.artists[0].name"
            [imageUrl]="item.albumImage[0].link"
            ></app-m-mini>
          </div>
        </div>
      </div>

      <div  *ngIf="listIdsString.albums.length === 0" class="section">
        <div class="titulo_slider">
          <h1>Albums salvos</h1>
          <img src="../../../assets/estrela_cheia.svg">
        </div>
        <div class="no_slider_space slider_space" >
          <h2>Não há álbuns salvos</h2>
        </div>
      </div>


      <div *ngIf="listIdsString.artists.length > 0" class="section">
        <div class="titulo_slider">
          <h1>Álbuns salvos</h1>
        </div>
        <div class="slider_space">
          <div class="slider" *ngFor="let item of artistsList">
            <app-m-mini
            [isAlbum]="false"
          [id]="item.id"
          [name] = "item.name"
          [imageUrl]="item.artistImages[0].link"
            ></app-m-mini>
          </div>
        </div>
      </div>

      <div  *ngIf="listIdsString.artists.length === 0" class="section">
        <div class="titulo_slider">
          <h1>Artistas salvos</h1>
        </div>
        <div class="no_slider_space slider_space" >
          <h2>Não há artistas salvos</h2>
        </div>
      </div>
    </div>
  </div>
</div>
