.layout_perfil {
  display: flex;
  gap: 64px;
  min-height: 91vh;
  position: relative;
  margin-top: 88px;
}

.perfil_left {
  width: 280px;
  padding: 0px 48px;
  background-color: #f2f2f2;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.grey_circle{
  width:  200px;
  height:  200px;
  border-radius: 50%;
  background-color: #D9D9D9;
}

.profile_content {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 8px 0px;
  justify-content: space-between;
}

.centro {
  display: flex;
  justify-content: center;
}

.space_between {
  display: flex;
  justify-content: space-between;
}

.informacoes {
  width: 100%;
  margin-top: 80px;
  text-align: center;
}

.img_perfil {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  align-self: center;
}

.imagem {
  width: 100%;
  display: flex;
}

.imagem button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.img_edit {
  width: 24px;
  height: 24px;
}

.agradecimento {
  color: #FD47BC;
}

.agradecimento img {
  width: 24px;
  height: 24px;
}
.slider {
  display: inline-flex;
  width: max-content;
  gap: 16px;
  margin-bottom: 16px;
}

.perfil_right {
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 48px;
  margin-bottom: 64px;
}

.dissays_perfil {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
  margin-top: 32px;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.titulo_slider {
  display: flex;
  align-items: center;
}

.slider_space{
  width: 100%; /* Ajuste conforme necessário */
  overflow-x: scroll; /* Permite o scroll horizontal */
  white-space: nowrap; /* Mantém os slides em uma única linha */

}

.no_slider_space{
  height: 180px;
  align-items: center;
  display: flex;
  color: #808080;
  justify-content: center;
  font-weight: 600;
  font-size: 24px;
  
}

.slider {
  display: inline-flex;
  width: max-content;
  gap: 16px;
}

.slider_space{
  display: flex;
  gap: 16px;
}

.progress-bar {
  width: 100%;
  height: 4px;
  background-color: #e0e0e0;
  position: relative;
  margin-top: 10px;
}

::-webkit-scrollbar {
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  background: #808080; 
  border-radius: 6px;
}


.sem_itens {
  color: #808080;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  margin: 0px;
  padding: 0px;
  display: flex;
  text-align: start;
}

.email {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: flex-start; 
  gap: 8px; 
  width: 100%; 
}

.email h3 {
  -webkit-box-orient: vertical;
  margin: 0;
  flex-grow: 1; 
  word-break: break-word; 
}

.no_preto {
  background-color: transparent;
}


footer {
  display: flex;
  flex-direction: column;
  background-color: #101415;
  width: 100%;
  height: auto;
  justify-content: center;
  padding: 32px 0px;
  align-items: center;
  gap: 24px;
}

.links_space {
  display: flex;
  gap: 120px;
}

h4 {
  color: white;
  cursor: pointer;
}

.titulo_h4 {
  margin-bottom: 8px;
  color: rgba(255, 255, 255, 0.5);
}

.footer_column {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.linha {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.25);
}
