<ng-container *ngIf="dataLoad">
  <div>
    <app-header [user]="user"></app-header>
<main>
  <app-perfil-lateral [user]="user"></app-perfil-lateral>
  <div class="main_filho"><router-outlet></router-outlet></div>
  <app-ads></app-ads>
</main>
  </div>
  <footer>
    <div class="links_space">
      <div class="footer_column">
        <h4 class="titulo_h4">Informações</h4>
        <h4>Sobre o site</h4>
        <h4>Sobre nós</h4>
      </div>
      <div class="footer_column">
        <h4 class="titulo_h4">Siga-nos</h4>
        <h4>Reddit</h4>
        <h4>Discord</h4>
        <h4>Instagram</h4>
        <h4>X</h4>
      </div>
      <div class="footer_column">
        <h4 class="titulo_h4">Apoie-nos</h4>
        <h4>Patreon</h4>
        <h4>Ko-Fi</h4>
        <h4>Paypal</h4>
        <h4>Buy Me a Coffee</h4>
      </div>
    </div>
    <div class="linha"></div>
    <h4 class="titulo_h4">© 2024 Soundbrary Ltd. Todos os direitos reservados • Termos de uso • Política de privacidade • Políticas legais • Lista de cookies</h4>
  </footer>
<ng-container/>



