<div id="corpo">
  <form (ngSubmit)="logar()" [formGroup]="loginForm" #formDir="ngForm">
  <div id="principal">
    <div id="conteudo_top">
      <div id="conteudo_top_principal">
          <img src="../../../assets/Logo_roxo.png">
          <div id="inputs_texto">
              <h3>Entre em sua conta</h3>
              <div id="inputs_column">
                  <div id="input_item">
                      <p>Email</p>
                      <div id="input_frame">
                          <input formControlName="email" required type="text" placeholder="Endereço de email" required/>
                          <img src="../../../assets/cadeado_icon.svg">
                      </div>
                  </div>
                  <div id="input_item">
                      <p>Senha</p>
                      <div id="input_frame">
                          <input formControlName="senha" type="password" placeholder="Crie uma senha" required />
                          <img src="../../../assets/cadeado_icon.svg">
                      </div>
                  </div>
              </div>
          </div>
       </div>
      <div id="esqueceu_senha"><a href="./cadastro.html">Esqueci minha senha</a></div>
    </div>

    <div id="botoes_login">
      <input type="submit" id="botao_cadastro" value="Login"/>
      <div id="divisor_ou">
          <hr> <h5>OU</h5> <hr>
      </div>
      <button id="botao_login" (click)="navigateCadastro()">
          <h4>Cadastre-se</h4>
      </button>
    </div>

  </div>
</form>
</div>

