body {
  display: flex;
  height: 100%;
}

#espaco_logo{
  height: 100%;
  margin: auto;
}
#espaco_logo img{
  height: 160px;
  margin: auto;
}
#espaco_logo h2 {
  color: black;
}

#inputs_texto h3 {

}

#input {

}
