<div class="layout">
    <div *ngIf="dataLoaded">
      <app-left-info [urlImage]="albumImage" [albumId]="albumId" [albumTitle]="albumName"></app-left-info>
    </div>

    <div class="conteudo">
        <h1 class="nome_artista">Nome do artista</h1>

        <div class="generos_sec">
            <h3>Gêneros do artista: </h3>
            <div class="generos">
              <div class="genero"><h4>genero</h4></div>
            </div>
        </div>

        <div class="seguidores">
          <h3>Seguidores: <span>2.198.391</span></h3>
        </div>

        <div class="lancamentos">
          <div class="lancamentos_secao">
            <div class="lancamentos_secao_topo">
              <div class="lancamentos_secao_texto">
                <h2>Álbuns</h2>
                <h2>Ano de lançamento</h2>
              </div>
              <div class="linha"></div>
            </div>
  
            <div>
              <div class="lancamento">
                <img src="../../../assets/brat cover.png">
                <div class="lancamento_texto">
                  <h2>Brat</h2>
                  <p>Charli xcx</p>
                </div>
                <h3>2024</h3>
              </div>
              <div class="linha"></div>
            </div>
          </div>

          <div class="lancamentos_secao">
            <div class="lancamentos_secao_topo">
              <div class="lancamentos_secao_texto">
                <h2>Singles e EPs</h2>
                <h2>Ano de lançamento</h2>
              </div>
              <div class="linha"></div>
            </div>
  
            <div>
              <div class="lancamento">
                <img src="../../../assets/brat cover.png">
                <div class="lancamento_texto">
                  <h2>Guess</h2>
                  <p>Charli xcx</p>
                </div>
                <h3>2024</h3>
              </div>
              <div class="linha"></div>
            </div>
          
          </div>
        </div>
    </div>
</div>