<ng-container *ngIf="artistItem && albumItems && singleItems">
  <div class="layout">
    <div *ngIf="dataLoaded && artistItem">
      <app-left-info [urlImage]="artistItem.artistImages[0].link" [urlLink]="artistItem.externalLink" [isArtistPage]="true"></app-left-info>
    </div>

    <div class="conteudo">
      <div class="title-song">
        <h1 class="nome_artista">{{ artistItem.name }}</h1>
        <button (click)="saveOrRemoveArtist(artistItem.id, saved)">
          <img src="../../../assets/Vector.png" *ngIf="!saved" alt="">
          <img src="../../../assets/salvado.png" *ngIf="saved" alt="">
        </button>
      </div>

        <div class="generos_sec">
            <h3>Gêneros do artista: </h3>
            <div class="generos">
              <div class="genero" *ngFor="let genero of artistItem.genres"><h4>{{ genero }}</h4></div>
            </div>
        </div>

        <div class="seguidores">
          <h3>Seguidores: <span>{{ artistItem.artistFollowers }}</span></h3>
        </div>

        <div class="lancamentos">
          <div class="lancamentos_secao">
            <div class="lancamentos_secao_topo">
              <div class="lancamentos_secao_texto">
                <h2>Álbuns</h2>
                <h2>Ano de lançamento</h2>
              </div>
              <div class="linha"></div>
            </div>

            <div *ngFor="let album of albumItems">
             <div class="lancamento">
                <img [src]="album.albumImage[0].link">
                <div class="lancamento_texto">
                  <button (click)="navigateAlbum(album.id)"><h2>{{ album.albumName }}</h2></button>
                  <p>{{ getArtistsString(album.artists) }}</p>
                </div>
                <h3>{{getYearFromReleaseDate(album.releaseDate)}}</h3>
              </div>
              <div class="linha"></div>
            </div>
            </div>
          <div class="lancamentos_secao">
            <div class="lancamentos_secao_topo">
              <div class="lancamentos_secao_texto">
                <h2>Singles e EPs</h2>
                <h2>Ano de lançamento</h2>
              </div>
              <div class="linha"></div>
            </div>

            <div *ngFor="let single of singleItems">
              <div class="lancamento">
                <img [src]="single.albumImage[0].link">
                <div class="lancamento_texto">
                  <button (click)="navigateAlbum(single.id)"><h2>{{single.albumName}}</h2></button>
                  <p>{{getArtistsString(single.artists)}}</p>
                </div>
                <h3>{{getYearFromReleaseDate(single.releaseDate)}}</h3>
              </div>
              <div class="linha"></div>
            </div>

          </div>
        </div>
    </div>
  </div>
</ng-container>

