<div class="layout">
  <app-left-info></app-left-info>
  <div class="conteudo">
    <div class="dissay_content">
      <h1>Titulo do Dissay</h1>

      <div class="perfil_avaliacao">
        <div class="dissay_perfil">
          <img src="../../../assets/perfil_icon.png">
          <h2>Luana</h2>
        </div>
        <div class="dissay_avaliacao">
          <div class="estrelas_avaliacao">
            <img src="../../../assets/estrela_cheia.svg">
            <img src="../../../assets/estrela_cheia.svg">
            <img src="../../../assets/estrela_cheia.svg">
            <img src="../../../assets/estrela_cheia.svg">
            <img src="../../../assets/estrela_cheia.svg">
          </div>
          <h2>4.7</h2>
        </div>
      </div>

      <div class="instrumentos_secao">
        <div class="instrumentos">
          <h1>Instrumentos</h1>
          <div class="linha"></div>
          <div class="lista_instrumentos">
            <app-instrumento-mini-2></app-instrumento-mini-2>
            <app-instrumento-mini-2></app-instrumento-mini-2>
            <app-instrumento-mini-2></app-instrumento-mini-2>
            <app-instrumento-mini-2></app-instrumento-mini-2>
            <app-instrumento-mini-2></app-instrumento-mini-2>
            <app-instrumento-mini-2></app-instrumento-mini-2>
            <app-instrumento-mini-2></app-instrumento-mini-2>
            <app-instrumento-mini-2></app-instrumento-mini-2>
            <app-instrumento-mini-2></app-instrumento-mini-2>
            <app-instrumento-mini-2></app-instrumento-mini-2>
            <app-instrumento-mini-2></app-instrumento-mini-2>
          </div>
        </div>
        <div class="afinacao">
          <h2>Afinação</h2>
          <app-instrumento-mini-2></app-instrumento-mini-2>
        </div>
      </div>
    </div>

  </div>
</div>
