<div class="search_layout">
  <div class="barra_catergorias">
    <div class="barra_pesquisa_search">
      <input type="text" [(ngModel)]="searchQuery" (input)="onSearchChange(searchQuery)" placeholder="Conteudo pesquisado">
      <img src="../../../assets/lupa_icon.svg">
    </div>
    <div class="categorias">
      <button (click)="changeMusica()" class="categoria" [ngClass]="{'categoria_selecionada': categoria === 'catMusica'}" >Músicas</button>
      <button (click)="changeAlbuns()" class="categoria" [ngClass]="{'categoria_selecionada': categoria === 'catAlbuns'}">Álbuns</button>
      <button (click)="changeSinglesEps()" class="categoria" [ngClass]="{'categoria_selecionada': categoria === 'catSinglesEps'}">Singles & EPs</button>
      <button (click)="changeArtistas()" class="categoria" [ngClass]="{'categoria_selecionada': categoria === 'catArtistas'}">Artistas</button>
      <button (click)="changeDissays()" class="categoria" [ngClass]="{'categoria_selecionada': categoria === 'catDissays'}">Dissays</button>
    </div>
  </div>

  <div *ngIf="!dataload" class="loading-container">
    <p>Carregando...</p>
    <img src="assets/loading.gif" alt="Carregando">
  </div>

<ng-container *ngIf="categoria === 'catMusica' && dataload">
  <div *ngFor="let track of tracksSearched">
  <button class="botao_search" (click)="navigateMusic(track.id)">
    <div class="resultados_item">
      <div class="resultados">
        <div class="resultado">
          <img *ngIf="track.albumImages === []" src="../../../assets/no_music.svg">
          <img [src]="track.albumImages[0].link">
        <div class="resultado_textos">
          <h2>{{track.name}}</h2>
          <h3>{{track.albumName}}</h3>
          <h4>{{track.artists[0].name}}</h4>
        </div>
        <img class="setinha" src="../../../assets/setinha_gray.svg">
        </div>
        <div class="linha"></div>
      </div>
    </div>
  </button>
  </div>
</ng-container>

<ng-container *ngIf="categoria === 'catDissays' && dataload">
  <div *ngFor="let item of DissaysSearched; let i = index">
  <button class="botao_search" (click)="navigateDissay(item._id ?? '')">
    <div class="resultados_item">
      <div class="resultados">
        <div class="resultado">
          <img [src]="MusicDissaySearched[i].albumImages[0].link">
        <div class="resultado_textos">
          <h2>{{item.name}}</h2>
          <h4>{{item.userName}}</h4>
        </div>
        <img class="setinha" src="../../../assets/setinha_gray.svg">
        </div>
        <div class="linha"></div>
      </div>
    </div>
  </button>
  </div>
</ng-container>
<ng-container *ngIf="categoria === 'catAlbuns' && dataload">
 <div *ngFor="let album of albumsSearched">
  <button class="botao_search" (click)="navigateAlbum(album.id)">
    <div class="resultados_item">
      <div class="resultados">
        <div class="resultado">
          <h1 *ngIf="album.albumImage === []">Imagem não encontrada</h1>
          <img [src]="album.albumImage[0].link">
        <div class="resultado_textos">
          <h3>{{album.albumName}}</h3>
          <h4>{{album.artists[0].name}}</h4>
        </div>
        </div>
        <div class="linha"></div>
      </div>
    </div>
  </button>
  </div>
</ng-container>

<ng-container *ngIf="categoria === 'catSinglesEps' && dataload">
  <div *ngFor="let item of singleAndEpsSearched">
    <button class="botao_search" (click)="navigateAlbum(item.id)">
      <div class="resultados_item">
        <div class="resultados">
          <div class="resultado">
            <h1 *ngIf="item.albumImage === []">Imagem não encontrada</h1>
            <img [src]="item.albumImage[0].link">
          <div class="resultado_textos">
            <h3>{{item.albumName}}</h3>
            <h4>{{item.artists[0].name}}</h4>
          </div>
          </div>
          <div class="linha"></div>
        </div>
      </div>
    </button>
   </div>
 </ng-container>

 <ng-container *ngIf="categoria === 'catArtistas' && dataload">
    <div *ngFor="let item of artistsSearched">
      <button class="botao_search" (click)="navigateArtist(item.id)">
        <div class="resultados_item">
          <div class="resultados">
            <div class="resultado">
              <img *ngIf="item.artistImages.length === 0" src="../../../assets/no_music.svg">
              <img *ngIf="item.artistImages.length > 0" [src]="item.artistImages[0].link">
            <div class="resultado_textos">
              <h3>{{item.name}}</h3>
            </div>
            </div>
            <div class="linha"></div>
          </div>
        </div>
      </button>
    </div>
 </ng-container>

 <div class="pagination" *ngIf="dataload">
  <button (click)="prevPage()" [disabled]="page === 0">
    <img src="../../../assets/setinha_gray.svg" style="transform: rotate(180deg);" alt="Voltar página">
  </button>

  <span>{{ page + 1 }}</span>

  <button (click)="nextPage()">
    <img src="../../../assets/setinha_gray.svg"  alt="Voltar página">
  </button>
</div>


</div>
