<ng-container *ngIf="musicDissay">
  <button (click)="navigateDissay(idDissay)">
    <div class="d_mini">
      <div class="d_mini_content">
          <div class="d_mini_info">
              <div class="d_mini_text">
                <h4>{{name}}</h4>
                <h5>{{namePerson}}</h5>
              </div>
              <div class="d_mini_rating_save">
                <div class="d_mini_rating">
                  <div *ngFor="let i of [1,2,3,4,5]">
                    <img *ngIf="rateNumber! >=i" src="../../../assets/estrela_cheia.svg">
                    <img *ngIf="rateNumber! < i"  src="../../../assets/estrela_vazia.svg">
                  </div>
                </div>  
                
                  <h4>{{rateNumber}}</h4>
                  <img class="imagem_album" src="../../../assets/save_icon.svg" alt="save_icon">
              </div>
          </div>
          <img class="d_mini_cover" [src]="musicDissay.albumImages[0].link" alt="">
      </div>
      <div class="d_mini_instruments" >
          <app-instrumento-mini *ngFor="let instrument of listInstruments | slice:0:3" [name]="instrument.defaultInstrument.nameInstrument"></app-instrumento-mini>
      </div>

  </div>
  </button>

</ng-container>
